

.nav-link{
    color: #000000;
    font-family: Inter;
}

.hov:hover{
    color: #000;
}

.centered{
    text-align: center;
    font-family: Oswald;
    font-size: 90px;
    font-weight: 400;
    line-height: 148px;
    color: #000000;
    margin-bottom: 90px;
}

.act{
    background-color: rgba(0, 0, 0, 0.6);
    color: #000000;
}

.back-to-index{
    padding: 5px 0px 30px;
    width: 260px;
    height: 30px;
    text-align: center;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 40px;
}

.login{

    padding: 5px 0px 30px;
    width: 200px;
    height: 30px;
    text-align: center;
    margin: auto;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 40px;
}

.back-to-index a{
    color: #000000;
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.back-to-index a:hover{
    text-decoration: none;
}

footer{
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}